absl-py # cli
appdirs
cloudpickle
cython
devtools
h5py
jsonargparse[signatures]
lightning
ml_collections==1.1.0 # Config interface. Need exact version since we overwrite internal functions
numpy
opencv-python
pandas
pillow
plyfile
pycocotools
setuptools
tensorboard
termcolor
terminaltables
timm>=0.6.0
tqdm
utm
wheel
scipy
scipy-stubs
wandb
open3d
huggingface_hub
einops
safetensors
tabulate
uniception
fairscale

shapely
trimesh
rerun-sdk==0.26.0

# Dev
black
build
coverage[toml]
isort
mypy
pre-commit
pydocstyle
pylint
pytest
jupyter
types-PyYAML
types-requests
types-tabulate
types-termcolor
types-toml